* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}




.credítos { 
    position: absolute;
    bottom: 10px;
    right: 40px;
    font-size: 10px;
    color: #040101;
}



body {
  
    background-image: url('/img/2916109.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.caixa-de-texto {
    background-color:#ae7636;
    width: 470px; 
    border-radius: 30px; 
    padding: 25px;
    margin-bottom: 15px;
    opacity: 0.9;
}

h2 {
    color: #373528d0;
    margin-bottom: 5px;
    font-size: 20px;
}

.input-texto {
    width: 100%;
    gap: 10px;
    padding: 15px;
    height: 100px;
    margin-bottom: 15px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
}

.idiomas {
    width: 100%;
    border: none;
    border-radius: 50px;
    outline: none;
    padding: 15px;
    margin: 10px 0 15px 0;
    background-color: #ae7636;
    color: #120404;
    opacity: 0.9;
}

button {
    background-color: #ae7636;
    color: #d8d7c7;
    border: none;
    border-radius: 50px;
    padding: 12px 12px;
    cursor: pointer;
 opacity: 0.9;
}

.ícone-traduzir, .ícone-microfone {
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.resultado {
    background-color: #ae7636;
    border-radius: 30px;
    padding: 15px;
    margin-top: 15px; 
   height: 100px;
   width: 500px;
    opacity: 0.9;
}



.titulo-tradução {
    color: #373528d0;
    font-size: 15px;
    margin-bottom: 15px;
    padding: 5px;
}

.traducao {

    color: #f1dfdf;
    font-size: 15px;
}

